<html>
<head>
  <meta charset="UTF-8">
  <title>Name Generator</title>
</head>
<body>
    <div class='name'>
      Your generated name is:
      <p> : <%= month.monthmatch %></p>
    </div>
</body>
</html>
