<% include ../partials/boilerplate %>

<form method='POST' action='/names'>
  <input name='letter' type='text' placeholder='letter' />
  <input name='letterMatch' type='text' placeholder='Letter Match' />
</br>
  <input type='submit' value='Add Me' />
</form>

<% include ../partials/footer %>
