<% include ../partials/boilerplate %>
<div class="container-edit">
  <div class='single'>
    <a href="/names/<%= data.id %>/edit">
      <h1><%= data.letter%> <%= data.letterMatch %></h1>
    </a>
    <form action="/names/<%= data.id %>?_method=Delete" method="Post">
      <input id='partial-edit-button' type="Submit" value="Delete"/>
    </form>
  </div>
</div>
<% include ../partials/footer %>
