<% include ../partials/boilerplate %>

<div class="container-partial">
  <button id='partial-button'>
    <a href="/names/new">Add letter</a>
  </button>
    <% for (let name of data) { %>
      <div class='data'>
      <a href='/names/<%= name.id%>'>
        <p id="data"><%= name.letter %> : <%= name.lettermatch %></p>
        </a>
      </div>
  <% } %>
</div>
<% include ../partials/footer %>
