<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Name Generator</title>
  <link rel='stylesheet' type='text/css' href='/css/reset.css'>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<body>
  <header>
    <div class="nav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/months">Months</a></li>
          <li><a href="/names">Names</a></li>
        </ul>
      </nav>
    </div>
  </header>
