/*Custom cheri font
Downloaded from http://www.fontbros.com */
@font-face {
    font-family: cheri;
    src: url(/fonts/cheri/CHERI___.TTF);
}
body {
  background: url('/images/candyBack.jpg')no-repeat;
  background-size: cover;
  font-family: cheri;
}
.jumbotron h1 {
  color: pink;
  font-size: 72px;
}
.container {
  text-align: center;
  margin: 110px auto;
  width: 100%;
}
/*Edit Page Container*/
.container-edit{
  justify-content: space-around;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  /*background-color: rgba(255,90,95, .7);*/
}
/*Partial Page Container*/
.container-partial{
  text-align: center;
  margin: 0px auto;
  width: 70%;
  color: white;
  background-color: rgba(255,90,95, .7);
}
.jumbotron {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
input[type=text] {
  /*background-color: rgba(255,90,95, .7);*/
  color: pink;
  font-family: cheri;
  outline: none;
  width: 40%;
  text-align: center;
  font-size: 36px;
  border: none;
  border-radius: 25px;
}
form {
  margin-top: 55px;
  font-family: cheri;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
select {
  outline: none;
  color: pink;
  font-family: cheri;
  text-align: center;
  font-size: 36px;
  border: none;
  text-align-last: center;
}
option {
  text-indent: 5px;
  text-align-last: center;
}
/*Partial edit Cloud*/
#partial-edit-button {
  line-height: 5;
  color: white;
  width: 20%;
  font-size: 36px;
  font-family: cheri;
  border: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  background: url('/images/cloud.png')no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  margin-top: 50px;
}
/*Partial Cloud*/
#partial-button {
  line-height: 6;
  color: white;
  width: 20%;
  font-size: 22px;
  font-family: cheri;
  border: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  background: url('/images/cloud.png')no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  margin-top: 50px;
}
/*Landing Page Cloud*/
#generate-button {
    line-height: 3.5;
    color: white;
    width: 100%;
    font-size: 56px;
    font-family: cheri;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
    background: url('/images/cloud.png')no-repeat;
    background-size: 100%;
    padding-bottom: 100px;
}
#generate-button:hover {
  text-shadow:5px 5px 10px aquamarine;
}
.nav {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(255,90,95, .7);
  height: 60px;
}
nav {
  padding-top: 20px;
  float: right;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  list-style: none;
}
nav ul li {
  font-family: cheri;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li:hover {
  text-shadow:5px 5px 10px yellow;
}
/*Database results*/
#data {
  padding-top: 5px;
  color: white;
  font-size: 22px;
}
/*Sindle month/name div*/
.single {
  margin-top: 100px;
  font-size: 72px;
}
.generate-index{
  text-align: center;
  margin-top: 100px;
  /*border: 1px solid black;*/
  height: 500px;
}
.generate-index h1{
  font-size: 96px;
  color: rgb(44,101,139);
  text-align: center;
}
/*Generated Name Page Cloud*/
#generate-index-button {
  margin: 0 auto;
  display: block;
  width: 200px;
  line-height: 5;
  color: white;
  font-size: 24px;
  font-family: cheri;
  border: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  background: url('/images/cloud.png')no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  margin-top: 20px;
}
