<% include ../partials/boilerplate %>
<div class="container-edit">
  <form method='POST' action='/months/<%= data.id %>?_method=PUT'>
    <!-- passing id as a part of the body, but the input field is set to hidden, so not to render on the page -->
    <input name="id" type="hidden" value="<%= data.id %>">
    <input name='month' type='text' value='<%= data.month %>' />
    <input name='monthMatch' type='text' value='<%= data.monthmatch %>' />
    </br>
      <input id="partial-edit-button" type='submit' value='Edit' />
  </form>
</div>
<% include ../partials/footer %>
