<% include ../partials/boilerplate %>

<form method='POST' action='/months'>
  <input name='month' type='text' placeholder='Month' />
  <input name='monthMatch' type='text' placeholder='Month Match' />
</br>
  <input type='submit' value='Add Month' />
</form>

<% include ../partials/footer %>
